.container {
    padding: 200px;
    text-align: center;
    background-image: url(../images/bolivia-1802042_1920.jpg);
    background-size: contain;
    background-size: cover;
}

.login_btn,.regist_btn {
    margin-left: 100px;
    margin-top: 15px;
} 