{% extends 'base.html' %}
{% block content %}

<div class="container">

        <p class="title">2/10問中</p>
		<p class="title">Q2、熱中できるものはありますか？</p>
		
    <form action="/two" method="POST" enctype="multipart/form-data">
		<div class="choice">
			<li class="radio_list">
				<p>ない</p>
				<label for="r1">1</label><br>
				<input type="radio" id="r1" name="radio" value="1">
			</li>
		
			<li class="radio_list">
				<p>どちらかといえばない</p>
				<label for="r2">2</label><br>
				<input type="radio" id="r2" name="radio" value="2">
			</li>
			<li class="radio_list">
				<p>どちらともいえない</p>
				<label for="r3">3</label><br>
				<input type="radio" id="r3" name="radio" value="3">
			</li>
			<li class="radio_list">
				<p>どちらかといえばある</p>
				<label for="r4">4</label><br>
				<input type="radio" id="r4" name="radio" value="4">
			</li>
			<li class="radio_list">
				<p>ある</p>
				<label for="r5">5</label><br>
				<input type="radio" id="r5" name="radio" value="5">
			</li>
		</div>
			<input type="submit" class="next" value="→">
	</form>
	
</div>

{% endblock %}