{% extends 'base.html' %}
{% block content %}

<div class="container">

    <p class="title">3/10問中</p>
	<p class="title">Q3、足りないものはありますか？</p>

    <form action="/three" method="POST" enctype="multipart/form-data">
		<div class="choice">
			<li class="radio_list">
				<p class="a1">ある</p>
				<label for="r1">1</label><br>
				<input type="radio" id="r1" name="radio" value="1">
			</li>

			<li class="radio_list">
				<p class="a2">どちらかといえばある</p>
				<label for="r2">2</label><br>
				<input type="radio" id="r2" name="radio" value="2">
			</li>

			<li class="radio_list">
				<p class="a3">分からない</p>
				<label for="r3">3</label><br>
				<input type="radio" id="r3" name="radio" value="3">
			</li>

			<li class="radio_list">
				<p class="a4">どちらかといえばない</p>
				<label for="r4">4</label><br>
				<input type="radio" id="r4" name="radio" value="4">
			</li>

			<li class="radio_list">
				<p class="a5">ない</p>
				<label for="r5">5</label><br>
				<input type="radio" id="r5" name="radio" value="5">
			</li>
		</div>
            <input type="submit" class="next" value="→">
	</form>
	
</div>

{% endblock %}