{% extends 'base.html' %}
{% block content %}
<div class="container">
	
    <p>5/10問中</p>

    <p>Q5<br>夢はありますか？</p>

    <form action="/five" method="POST" enctype="multipart/form-data">
		<div>
			<label for="r1">1：</label>
			<input type="radio" id="r1" name="radio" value="1">
		</div>
		<div>
			<label for="r2">2：</label>
			<input type="radio" id="r2" name="radio" value="2">
		</div>
		<div>
			<label for="r3">3：</label>
			<input type="radio" id="r3" name="radio" value="3">
		</div>
		<div>
			<label for="r4">4：</label>
			<input type="radio" id="r4" name="radio" value="4">
		</div>
		<div>
			<label for="r5">5：</label>
			<input type="radio" id="r5" name="radio" value="5">
		</div>
		<div>
            <input type="submit" class="next" value="→">
		</div>
	</form>

</div>
{% endblock %}